@font-face {
    font-family: Manrope;
    src: url(../../assets/fonts/Manrope.ttf);
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../../assets/fonts/PlayfairDisplay.ttf);
}

@font-face {
    font-family: PlayfairDisplay-Bold;
    src: url(../../assets/fonts/PlayfairDisplay-Bold.ttf);
}

/* styles for all start */

* {
    object-fit: cover;
    font-family: Manrope, sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: PlayfairDisplay-Bold, serif !important;
}

a {
    color: black;
}

p.gray {
    line-height: 2;
}

.body {
    background-color: rgba(255, 255, 255, 1);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}


a {
    text-decoration: none;
    cursor: pointer;
}

.bg-light-blue {
    background-color: rgba(235, 243, 245, 1);
}

.bg-dark-green {
    background-color:
        rgba(30, 44, 48, 1);
}

.blue {
    color: rgba(92, 134, 146, 1);
}

.gray {
    color:
        rgba(85, 85, 85, 1);
}

.black {
    color: black;
}

/* styles for all end */

/* header start */
header {
    padding: 30px 40px;
    margin: 0 auto;
    transition: all 1.5s ease-in-out;
}

header.fixed {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: 
rgba(235, 243, 245, 1);
    top: 0;
}

.header-container {
    gap: 20px;
    width: 100%;
}

.logoAndNumber {
    gap: 30px;
}

.logo-container {
    gap: 10px;
    position: relative;
}

.logo-container a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo-container img {
    width: 30px;
    height: 30px;
}

.number-container {
    gap: 10px;
    width: 200px;
}

.number-container img {
    width: 15px;
    height: 15px;
}

/* navigation start */

.nav-container {
    width: 100%;
    gap: 25px;
}

.navigation {
    gap: 30px;
    list-style: none;
}

.navigation li {
    color: rgba(85, 85, 85, 1);
}

.dropdown img {
    width: 15px;
    height: 15px;
}

.social-container {
    gap: 15px;
}

.btn {
    background-color:
        rgba(122, 156, 165, 1);
    padding: 10px 25px;
    color: white;
    gap: 10px;
    transition: all 1.1s ease-in-out;
}

.reservation p {
    display: inline-block;
    margin: 0;
}

.reservation:hover {
    color: black;
    font-weight: bold;
    background-color: rgba(122, 156, 165, 0.7);
}

#menu {
    cursor: pointer;
    display: none;
}

#menu-close {
    cursor: pointer;
    display: none;
}

#menu-close img {
    width: 30px;
    height: 30px;
}

/* navigation end */
/* header end */

/* beauty is power start */

/* left */
.beauty-is-left,
.beauty-is-right {
    padding: 30px 0;
}

.beauty-is-left {
    width: 50%;
}

.beauty-left-content {
    max-width: 450px;
    margin: 0 auto;
    padding: 40px 0;
}

.beauty-left-content h5 {
    margin-bottom: 0;
}

.beauty-left-content h5 img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.beauty-left-content h1 {
    margin-top: 10px;
    font-size: 2.5rem;
    line-height: 1.5;
}

.btn-dark {
    max-width: 50%;
    background-color: rgba(92, 134, 146, 1);
    color: white;
    gap: 5px;
    padding: 15px 20px;
    margin-top: 10px;
    transition: all 1.1s ease-in-out;
}

.btn-dark p {
    font-size: 14px;
    margin: 0 auto;
}

.btn-dark:hover {
    color: black;
    font-weight: bold;
    background-color: rgba(92, 134, 146, 0.6);
}

/* right */

.beauty-is-right {
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

.white-border {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1;
}

.white-border img {
    width: 100%;
    position: relative;
    left: -40px;
}

.white-border::before {
    content: '';
    border: 5px solid white;
    border-left: none;
    width: 100%;
    height: calc(100% + 10px);
    display: block;
    position: absolute;
    top: -20px;
    padding: 10px 0;
    z-index: 1;
}



/* beauty is power end */


/* beauty cards start */
.beauty-card .card-link {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.card-container {
    padding: 50px 0;
    flex-wrap: wrap;
    gap: 10px;
}

.beauty-card {
    max-width: 300px;
    gap: 10px;
    position: relative;
    padding: 10px;
    border-radius: 2px;
    transition: 0.3s all ease-in-out;
}

.beauty-card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.beauty-card img {
    width: 100%;
}

.beauty-card-txt h4 {
    font-family: PlayfairDisplay;
}

.btn-empty {
    border: 2px solid rgba(92, 134, 146, 1);
    padding: 9px 30px;
    width: 55%;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.btn-empty {
    transition: all 1s ease-in-out;
}

.btn-empty:hover {
    background-color: rgba(92, 134, 146, 1);
}

.btn-empty:hover a {
    color: white;
}

/* beauty cards end */

/* about us start */
.about-container-blue {
    padding: 50px 0 70px 0;
}

.about-container {
    justify-content: space-between;
}

.about-left {
    width: 40%;
}

.about-left-txt h2 {
    max-width: 60%;
    font-size: 1.8rem;
    line-height: 1.5;
}

.about-left-card-container {
    gap: 10px;
}

.about-left-card {
    width: 33%;
    background-color: white;
    border: 1px solid #1E2C30;
    padding: 10px;
    justify-content: space-between;
    text-align: center;
}

.about-left-card p {
    font-weight: bold;
    width: 50%;
    font-family: PlayfairDisplay, serif;
}

.about-right {
    max-width: 60%;
}

.about-right-bg-image {
    max-width: 500px;
    position: relative;
}

.about-right-bg-image img {
    width: 100%;
    max-height: 470px;
}

.about-upper-img {
    position: absolute;
    top: 50px;
    right: 50px;
}

/* about us end */

/* services start */
.services {
    padding: 40px 0;
}

.services-heading {
    text-align: center;
}

.services-heading h2 {
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5;
}


.services-sections-container {
    position: relative;
    z-index: 99;
}

.services-up-img,
.services-down-img {
    line-height: 0;
}

.services-up {
    padding-top: 30px;
    position: relative;
    z-index: 70;
}

.services-up-img {
    max-width: 50%;
}

.services-up-img img {
    width: 100%;
}

.services-up-txt {
    max-width: 50%;
    gap: 5px;
}

.first-line {
    max-width: 500px;
    border-bottom: 1px solid rgba(155, 183, 191, 1);
}

.first-line span {
    font-family: PlayfairDisplay, serif;
    font-weight: 600;
    margin-left: 5px;
}

.masks::after {
    content: ' ............................................. ';
    font-size: 18px;
    margin: 0 10px;
}

.masks-p {
    margin: 0 0 8px 0;
}

.full-body::after {
    content: ' .................................. ';
    font-size: 18px;
    margin: 0 10px;
}

.geothermal::after {
    content: ' ....................................... ';
    font-size: 18px;
    margin: 0 10px;
}

.sauna::after {
    content: ' .............................................. ';
    font-size: 18px;
    margin: 0 10px;
}

.appointment {
    padding: 15px 25px;
}

.services-down {
    padding-bottom: 30px;
    position: relative;
    z-index: 80;
}

.services-down-img {
    max-width: 50%;
}

.services-down-img img {
    width: 100%;
}

.services-down-txt {
    max-width: 50%;
    gap: 10px;
    z-index: 99;
    margin-top: 40px;
}



.services-sections-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color:
        rgba(19, 66, 54, 1);
    z-index: 10;
}

/* services end */

/* ____________________responsive___________________ */
@media only screen and (max-width: 1189px) {

    /* header and navigation start */
    .container {
        max-width: 940px;
    }

    header {
        padding: 20px 30px;
    }

    .nav-container {
        gap: 20px;
    }

    .navigation {
        gap: 20px;
    }

    .social-container {
        gap: 20px;
    }

    .btn {
        padding: 10px 20px;
    }

    /* header and navigation end */

    /* services */
    .services-up-txt,
    .services-down-txt {
        max-height: 500px;
    }

    .masks-p {
        margin-bottom: 0;
    }
    .services-sections-container::after {
        width: 100px;
        height: 100px;
    }
    .services-up-txt,.services-down-txt{
        max-width: 42%;
    }
    .services-down-txt{
        margin-top: 0;
    }
    .masks::after{
        content: ' .................................. ';
    }
    .full-body::after{
        content: " ...................... ";
    }
    .geothermal::after{
        content: ' ........................... ';
    }
    .sauna::after{
        content: ' ................................... ';
    }

}

@media only screen and (max-width: 1111px) {

    /* header and navigation start */
    .container {
        max-width: 900px;
    }

    .header-container {
        gap: 8px;
    }

    .logoAndNumber {
        gap: 10px;
    }

    .navigation {
        padding-left: 0;
    }

    .nav-container {
        gap: 15px;
    }

    .social-container {
        gap: 10px;
    }

    /* header and navigation end */
    .beauty-left-content {
        margin-left: 40px;
        max-width: 400px;
    }

}

@media only screen and (max-width: 1027px) {
    .container {
        max-width: 800px;
    }

    /* header and navigation start */
    header {
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
    }

    .logoAndNumber {
        gap: 80px;
        width: 100%;
        justify-content: space-between;
    }

    .navigation {
        gap: 40px;
    }

    .social-container {
        gap: 40px;
    }


    /* header and navigation end */
    .card-container {
        justify-content: space-evenly;
    }

    .beauty-left-content {
        max-width: 300px;
    }

    .beauty-left-content p {
        margin: 0;
    }

    /* beauty */
    .about-left-txt h2 {
        max-width: 90%;
    }

    .about-left-card {
        padding: 4px;
    }

    .about-right {
        max-width: 50%;
    }

}

@media only screen and (max-width: 925px) {

    /* header and navigation start */
    .container {
        max-width: 750px;
    }

    .social-container {
        gap: 8px;
    }

    .navigation {
        gap: 20px;
    }

    .nav-container {
        gap: 10px;
    }

    .btn {
        padding: 8px 15px;
    }

    /* header and navigation end*/
    /* about */
    .about-right {
        max-width: 45%;
    }

    .about-left {
        max-width: 45%;
    }
}

@media only screen and (max-width: 870px) {
    .container {
        max-width: 680px;
    }

    .about-left {
        min-width: 50%;
    }

    .about-right {
        max-width: 40%;
    }
}

/* Tablet */

@media only screen and (max-width: 768px) {
    .container {
        max-width: 600px;
    }

    /* header and navigation start */


    .nav-container {
        margin-top: 64px;
        height: 100%;
        position: relative;
    }

    #menu {
        display: block;
        position: absolute;
        top: 11%;
        right: 5%;
        z-index: 99;
    }

    #menu-close {
        display: block;
        z-index: 100;
        top: 15px;
        right: 40px;
        position: absolute;
    }

    .header-container {
        padding-bottom: 20px;
    }

    .nav-container {
        background: rgba(122, 156, 165, 1);
        position: fixed;
        right: 0;
        top: 63px;
        flex-direction: column;
        width: 0;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.7s all ease-in-out;
        gap: 10px;
        z-index: 100;
        justify-content: space-evenly;
    }


    .navigation {
        align-items: flex-start;
        gap: 40px;
    }

    .navigation a li {
        color: white;
    }

    .dropdown svg path {
        stroke: white;
    }

    .menu-active {
        width: 50%;
        opacity: 1;
        visibility: visible;
        padding: 30px 40px;
        margin-top: 64px;
        transform: translateX(0);
    }


    .navigation {
        flex-direction: column;
    }

    .navigation li {
        font-size: 1.3rem;
        margin: 0;
    }

    .menu-social-icons path {
        fill: white;
    }

    .social-container {
        gap: 30px;
    }

    .reservation {
        background-color: #5D6B71;
        margin-bottom: 60px;
        padding: 15px 20px;
    }

    h5 {
        margin: 0;
    }

    /* header and navigation end */


    /* beauty is start */
    .beauty-is-left,
    .beauty-is-right {
        padding: unset;
    }

    .white-border::before {
        display: none;
    }

    .white-border {
        width: 100%;
        height: 100%;
    }

    .white-border img {
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* beauty is end */
    /* about */
    .about-left-txt {
        text-align: center;
    }

    .about-upper-img {
        inset: 0;
    }

}

/* Mobile */
@media only screen and (max-width: 650px) {
    .container {
        max-width: 500px;
    }

    .card-container {
        flex-direction: column;
    }

    .beauty-card {
        max-width: 450px;
    }

    .beauty-card * {
        text-align: center;
    }

    .btn-empty {
        align-self: center;
    }

    /* about */
    .about-left {
        min-width: 100%;
    }

    .about-left-txt {
        margin-bottom: 40px;
    }

    .about-right {
        display: none;
    }
}

@media only screen and (max-width: 565px) {

    /* header and navigation start */
    .container {
        max-width: 400px;
    }

    .logoAndNumber {
        flex-direction: column;
        gap: 0;
    }

    .header-container {
        flex-direction: column;
    }

    nav li {
        font-size: 1.5rem;
    }

    .nav-container {
        top: 15%;
    }

    #menu {
        top: 15%;
    }

    .menu-active {
        width: 100%;
        height: 90%;
        opacity: 1;
        visibility: visible;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        translate: 0.8s all ease-in-out;
    }


    .btn-dark {
        max-width: 100%;
    }

    .body-scroll-hidden {
        overflow: hidden;
    }

    /* header and navigation end */
    /* beauty is start */
    .beauty-is-container {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .beauty-is-left,
    .beauty-is-right {
        width: 100%;
        padding: 0;
        background-color: transparent;
    }

    .beauty-left-content {
        max-width: 70%;
        align-items: center;
    }

    .beauty-left-content p,
    h1,
    h5 {
        text-align: center;
        margin-bottom: 2px;
    }

    .white-border::before {
        display: none;
    }

    .white-border img {
        left: 0;
    }

    .beauty-is-right {
        justify-content: center;
    }

    .beauty-left-content h5 img {
        width: 15px;
        height: 15px;
        position: absolute;
        left: -20px;
    }

    .beauty-left-content h5 {
        position: relative;
    }

    .beauty-card {
        max-width: 80%;
    }

    .btn-empty {
        min-width: 80%;
    }
}

/* beauty is end */



@media only screen and (max-width: 470px) {
    .container {
        max-width: 320px;
    }
}

@media only screen and (max-width: 370px) {
    .container {
        max-width: 250px;
    }

    /* beauty start */
    .beauty-left-content {
        max-width: 100%;
    }

    .beauty-is-right {
        background-color: transparent;
    }

    .beauty-left-content h5 img {
        left: -2px;
    }

    .beauty-left-content h5 img {
        left: -20px;
    }

    /* about */
    .about-left-card-container {
        flex-direction: column;
        align-items: center;
    }

    .about-left-card {
        width: 100%;
        padding-top: 10px;
    }
}

/* beauty end */