@font-face {
    font-family: Manrope;
    src: url(../../assets/fonts/Manrope.ttf);
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../../assets/fonts/PlayfairDisplay.ttf);
}

@font-face {
    font-family: PlayfairDisplay-Bold;
    src: url(../../assets/fonts/PlayfairDisplay-Bold.ttf);
}

/* styles for all start */

* {
    object-fit: cover;
    font-family: Manrope, sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: PlayfairDisplay-Bold, serif !important;
}

h2 {
    font-size: 2rem;
}

a {
    color: black;
}

p.gray {
    line-height: 2;
}

.body {
    background-color: rgba(255, 255, 255, 1);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}


a {
    text-decoration: none;
    cursor: pointer;
}

.bg-light-blue {
    background-color: rgba(235, 243, 245, 1);
}

.bg-dark-green {
    background-color:
        rgba(30, 44, 48, 1);
}

.blue {
    color: rgba(92, 134, 146, 1);
}

.bg-blue {
    background-color: rgba(92, 134, 146, 1);
}

.gray {
    color:
        rgba(85, 85, 85, 1);
}

.black {
    color: black;
}

.green {
    background-color: rgba(30, 44, 48, 1);
}


/* styles for all end */

/* header start */
header {
    padding: 5px 68px;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
    border-bottom: 0.5px solid rgba(92, 134, 146, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color:
        rgba(235, 243, 245, 1);
}



.header-container {
    gap: 20px;
    width: 100%;
    padding-left: 55px;
}

.logoAndNumber {
    gap: 30px;
}

.logo-container {
    gap: 10px;
    position: relative;
}

.logo-container a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo-container img {
    width: 30px;
    height: 30px;
}

.number-container {
    gap: 10px;
    width: 200px;
}

.number-container:hover h5 a {
    color: rgb(69, 100, 108);
    text-decoration: underline;
}

.number-container img {
    width: 15px;
    height: 15px;
}

/* navigation start */

.nav-container {
    width: 100%;
    gap: 25px;
    padding-right: 55px;
}

.navigation {
    gap: 30px;
    list-style: none;
}

.navigation li a {
    color: rgba(85, 85, 85, 1);
    transition: 0.3s all ease-in-out;
}

.dropdown-span {
    color: rgba(85, 85, 85, 1);
    transition: 0.3s all ease-in-out;
}

.navigation li .pages-dropdown a {
    color: rgba(85, 85, 85, 1);
    transition: 0.3s all ease-in-out;
}

.navigation li:hover a {
    color: rgba(92, 134, 146, 1);
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 1px rgb(53, 81, 89);
}

.navigation li:hover .dropdown-span {
    color: rgba(92, 134, 146, 1);
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 1px rgb(53, 81, 89);
}

.navigation li:hover .pages-dropdown a {
    text-decoration: none;
    text-shadow: none;
}

.navigation li .pages-dropdown a:hover {
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 1px rgb(53, 81, 89);
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.pages-dropdown {
    position: absolute;
    top: 230%;
    left: -80%;
    list-style: none;
    background-color: #fff;
    clip-path: inset(0 0 100% 0);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 30px;
}

.pages-dropdown a {
    display: block;
}

.dropdown .dropdown-span {
    display: flex;
    align-items: center;
}

.dropdown-open {
    clip-path: inset(0 0 0 0);
}

.dropdown:hover .pages-dropdown {
    clip-path: inset(0 0 0 0);
}

.dropdown img {
    width: 15px;
    height: 15px;
}

.social-container {
    gap: 15px;
}

.btn {
    background-color:
        rgba(122, 156, 165, 1);
    padding: 10px 25px;
    color: white;
    gap: 10px;
    transition: all 0.5s ease-in-out;
}

.reservation p {
    display: inline-block;
    margin: 0;
}

.reservation:hover {
    background-color: rgba(30, 44, 48, 1);
}

#menu {
    cursor: pointer;
    display: none;
}

#menu-close {
    cursor: pointer;
    display: none;
}

#menu-close img {
    width: 30px;
    height: 30px;
}

.menu-social-icons:hover {
    filter: drop-shadow(5px 1px 8px rgb(41, 59, 65));
}

.active-page {
    font-weight: bold;
    text-decoration: underline;
}

/* navigation end */
/* header end */

/* beauty is power start */

/* left */
.beauty-is-container {
    padding-top: 100px;
}

.beauty-is-left,
.beauty-is-right {
    padding: 30px 0;
}

.beauty-is-left {
    width: 50%;
}

.beauty-left-content {
    max-width: 450px;
    margin: 0 auto;
    padding: 40px 0;
}

.beauty-left-content h5 {
    margin-bottom: 0;
}

.beauty-left-content h5 img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.beauty-left-content h1 {
    margin-top: 10px;
    font-size: 2.5rem;
    line-height: 1.5;
}

.btn-dark {
    max-width: 50%;
    background-color: rgba(92, 134, 146, 1);
    color: white;
    gap: 5px;
    padding: 15px 20px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

.btn-dark p {
    font-size: 14px;
    margin: 0 auto;
}

.btn-dark:hover {
    background-color: rgba(30, 44, 48, 1);
}

/* right */

.beauty-is-right {
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

.white-border {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1;
}

.white-border img {
    width: 100%;
    position: relative;
    left: -40px;
}

.white-border::before {
    content: '';
    border: 5px solid white;
    border-left: none;
    width: 100%;
    height: calc(100% + 10px);
    display: block;
    position: absolute;
    top: -20px;
    padding: 10px 0;
    z-index: 1;
}



/* beauty is power end */


/* beauty cards start */
.beauty-card .card-link {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.card-container {
    padding: 50px 0;
    flex-wrap: wrap;
    gap: 10px;
}

.beauty-card {
    max-width: 300px;
    gap: 10px;
    position: relative;
    padding: 10px;
    border-radius: 2px;
    transition: 0.5s all ease-in-out;
}

.beauty-card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.beauty-card img {
    width: 100%;
}

.beauty-card-txt h4 {
    font-family: PlayfairDisplay;
}

.btn-empty {
    border: 2px solid rgba(92, 134, 146, 1);
    padding: 9px 30px;
    width: 55%;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn-empty:hover {
    color: white;
    background-color: rgba(92, 134, 146, 1);
}

.btn-empty:hover a {
    color: white;
}

/* beauty cards end */

/* about us start */
.about-container-blue {
    padding: 50px 0 70px 0;
}

.about-container {
    justify-content: space-between;
}

.about-left {
    width: 40%;
}

.about-left-txt h2 {
    max-width: 60%;
    font-size: 1.8rem;
    line-height: 1.5;
}

.about-left-card-container {
    gap: 10px;
}

.about-left-card {
    width: 33%;
    background-color: white;
    border: 1px solid #1E2C30;
    padding: 10px;
    justify-content: space-between;
    text-align: center;
}

.about-left-card p {
    font-weight: bold;
    width: 50%;
    font-family: PlayfairDisplay, serif;
}

.about-right {
    max-width: 60%;
}

.about-right-bg-image {
    max-width: 500px;
    position: relative;
}

.about-right-bg-image img {
    width: 100%;
    max-height: 470px;
}

.about-upper-img {
    position: absolute;
    top: 50px;
    right: 50px;
}

/* about us end */

/* services start */
.services {
    padding: 40px 0;
}

.services-heading {
    text-align: center;
}

.services-heading h2 {
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5;
}


.services-sections-container {
    position: relative;
    z-index: 99;
    margin-bottom: 40px;
}

.services-up-img,
.services-down-img {
    line-height: 0;
}

.services-up {
    padding-top: 30px;
    position: relative;
    z-index: 70;
}

.services-up-img {
    max-width: 50%;
}

.services-up-img img {
    width: 100%;
    height: 100%;
}

.services-down-img img {
    width: 100%;
    height: 100%;
}

.services-up-txt {
    max-width: 50%;
    gap: 5px;
}

.first-line {
    max-width: 500px;
    border-bottom: 1px solid rgba(155, 183, 191, 1);
}

.first-line span {
    font-family: PlayfairDisplay, serif;
    font-weight: 600;
    margin-left: 5px;
}

.masks::after {
    content: ' ............................................. ';
    font-size: 18px;
    margin: 0 10px;
}

.masks-p {
    margin: 0 0 8px 0;
}

.full-body::after {
    content: ' .................................. ';
    font-size: 18px;
    margin: 0 10px;
}

.geothermal::after {
    content: ' ....................................... ';
    font-size: 18px;
    margin: 0 10px;
}

.sauna::after {
    content: ' .............................................. ';
    font-size: 18px;
    margin: 0 10px;
}

.appointment {
    padding: 15px 25px;
}

.services-down {
    padding-bottom: 30px;
    position: relative;
    z-index: 80;
}

.services-down-img {
    max-width: 50%;
}

.services-down-img img {
    width: 100%;
}

.services-down-txt {
    max-width: 50%;
    gap: 10px;
    z-index: 99;
    margin-top: 40px;
}


.services-sections-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color:
        rgba(19, 66, 54, 1);
    z-index: 10;
}

/* services end */


/* testimonials start */
.testimonials {
    padding: 40px 0;
}

.testimonials-heading {
    text-align: center;
    padding-bottom: 30px;
}

.testimonials-up p {
    padding: 20px 30px;
    line-height: 1.5;
}

.testimonials-content {
    gap: 40px;
}

.testimonials-img img {
    border: 2px solid white;
}

.testimonials-1,
.testimonials-2 {
    max-width: 50%;
    background-color: white;
    height: 100%;
    padding: 0;
}

.testimonials-down {
    color: white;
    padding: 20px 30px;
}

.testimonials-down-left {
    gap: 15px;
}

.testimonials-quote {
    gap: 5px;
}

.testimonials-quote h3,
h4 {
    margin: 5px;
}

.stars svg path {
    fill: white;
}

/* testimonials end */

/* benefits start */
.benefits-section {
    padding: 30px;
}

.benefits-heading {
    padding-bottom: 30px;
    text-align: center;
}

.benefits {
    max-width: 280px;
    align-items: flex-start;
}

.benefits-content {
    flex-wrap: wrap;
    gap: 20px;
}

.benefits h3 {
    max-width: 75%;
    line-height: 1.5;
}

.benefits-check {
    width: 70px;
    height: 70px;
    border: 1px dashed;

}

.benefits-check svg {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.benefits-check svg path {
    fill: white;
}

/* benefits end */

/* discount start */
.discount-section {
    padding: 40px 0;
}

.discount-left {
    max-width: 50%;
    gap: 10px;
}

.discount-left h2 {
    width: 60%;
    line-height: 1.5;
    margin-bottom: 0;
}

.discount-card {
    max-width: 90%;
    border: 1px solid rgba(149, 191, 203, 1);
    background-color: white;
    gap: 10px;
}

.discount-card-left {
    padding: 5px;
}

.discount-card-right {
    color: white;
    padding: 20px 40px;
}

.number-50 {
    margin: 15px 0;
    font-size: 50px;
    font-weight: 900;
}

.number-50::after {
    content: '%';
    font-size: 30px;
    font-weight: 100;
}

.discount-mailUs,
.discount-callUs {
    position: relative;
}

.discount-card-left-up *,
.discount-card-left-down * {
    padding-left: 30px;
    margin-left: 20px;
}

.discount-mailUs::before,
.discount-callUs::before {
    content: '...';
    display: inline-block;
    color: rgba(92, 134, 146, 1);
    font-size: 30px;
    font-family: serif;
    position: absolute;
    top: -16px;
    left: 0;
}

/*  */
.discount-right {
    min-width: 40%;
    min-height: 564px;
    background-color: white;
    padding: 50px 65px;
    justify-content: center;
}

input,
textarea,
.discount-btn {
    outline: none;
    border: 1px solid rgba(92, 134, 146, 1);
    padding: 15px 10px 15px 35px;
    width: 100%;
}

input:focus,
textarea:focus {
    background-color: rgba(92, 134, 146, 0.1);
    font-weight: bold;
}

.discount-input-container svg {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 20px;
    height: 20px;
}

.discount-input-container {
    position: relative;
    width: 100%;
}

::placeholder {
    font-size: 13px;
}

.discount-btn {
    color: white;
    text-align: center;
    font-size: 13px;
    background-color: rgba(92, 134, 146, 1);
    padding: 15px;
    max-width: 100%;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease-in-out;
}

.discount-btn:hover {
    background-color: rgba(30, 44, 48, 1);
}

textarea {
    resize: none;
}

.discount-form {
    gap: 13px;
}

/* discount end */


/* blog section start */
.blog-section {
    padding: 40px 0;
}

.blogs-container {
    gap: 20px;
}

.blog-txt {
    text-align: center;
}

.blog-content {
    gap: 30px;
}

.blog-card {
    max-width: 320px;
}

.blog-card img {
    width: 100%;
}

.blog-card-txt {
    padding: 30px;
}

.blog-title {
    font-size: 13px;
    font-weight: bold;
    gap: 25px;
}

.blog-author {
    position: relative;
}

.blog-author::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 1.5px;
    background-color: rgba(39, 45, 50, 1);
    top: 7px;
    left: -20px;
}

.blog-txt-heading {
    margin: 0;
}

.blog-card-txt p.gray {
    margin-top: 5px;
}

.blog-card {
    position: relative;
}

.blog-card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.blog-card a {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.blog-btn {
    margin: 30px 0;
}

/* blog section end */

/* footer start */
footer {
    padding: 30px 0;
}

.footer-container {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.436);
}

.footer-logo-name {
    color: white;
}

.footer-right {
    gap: 10px;
}

.footer-right a svg path {
    fill: white;
}

.footer-right a {
    border: 1px solid rgba(92, 134, 146, 1);
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.footer-right a:hover {
    box-shadow: 0 0 6px 0 white;
    border: transparent;
}

.footer-pages-container {
    padding: 30px 0;

}

.footer-pages-container * {
    color: white;
}

.footer-pages-container a {
    transition: 0.5s all ease-in-out;
}

.footer-pages-container a:hover {
    text-shadow: 0.5px 0.5px 1px rgba(237, 245, 247, 1);
    text-decoration: underline;
}

.inTouch-content * {
    display: inline-block;
}

.inTouch p {
    margin-top: 0;
    padding-top: 0;
}

.inTouch-headings {
    width: 80px;
}

.explore,
.utility,
.inTouch,
.hours {
    gap: 10px;
}

.inTouch-details {
    width: 220px;
}

.phone-content,
.mail-content {
    margin-top: 10px;
}

.hours h3 {
    margin-bottom: 28px;
}

/* footer end */

/* copyright start */
.copyright {
    background-color: rgba(17, 30, 34, 1);
    padding: 20px 0;
    text-align: center;
}

.copyright a {
    color: white;
    font-size: 14px;
}

/* copyright end */
/* ____________________responsive___________________ */

@media only screen and (min-width: 1440px) {
    .container {
        width: 1320px;
    }
}

@media only screen and (max-width: 1189px) {

    /* header and navigation start */
    .container {
        max-width: 940px;
    }

    header {
        padding: 5px 30px;
    }

    .header-container {
        padding-left: 30px;
    }

    .nav-container {
        gap: 20px;
        padding-right: 30px;
    }

    .navigation {
        gap: 20px;
    }

    .number-container {
        display: none;
    }

    .social-container {
        gap: 20px;
    }

    .btn {
        padding: 10px 20px;
    }

    /* header and navigation end */

    /* services */


    .services-sections-container::after {
        width: 100px;
        height: 100px;
    }

    .services-up-txt,
    .services-down-txt {
        max-width: 50%;
        min-height: 600px;
        gap: 30px;
        align-items: center;
    }

    .masks::after {
        content: ' .................................. ';
    }

    .full-body::after {
        content: " ...................... ";
    }

    .geothermal::after {
        content: ' ........................... ';
    }

    .sauna::after {
        content: ' ................................... ';
    }

    .appointment {
        width: 100%;
    }

    .services-sections-container::after {
        top: 48.8%;
    }

    /* benefits */
    .benefits-content {
        gap: 15px;
    }

    .benefits {
        max-width: 240px;
    }

    .benefits h3 {
        max-width: 90%;

    }

    /* blog */
    .blog-card-txt {
        padding: 20px;
    }

    .blog-author::before {
        width: 12px;
    }
}

@media only screen and (max-width: 1111px) {

    /* header and navigation start */
    .container {
        max-width: 900px;
    }

    .logoAndNumber {
        gap: 10px;
    }

    .navigation {
        padding-left: 0;
    }

    .nav-container {
        gap: 15px;
    }

    .social-container {
        gap: 10px;
    }

    /* header and navigation end */

    .beauty-left-content {
        max-width: 400px;
    }

    .quote-icon {
        width: 60px;
    }

    /* services */
    .services-heading h2 {
        min-width: 100%;
    }

    .services-down-txt {
        gap: 23px;
    }

    .services-sections-container::after {
        top: 49.4%;
    }

    /* blog */
    .blog-title {
        gap: 15px;
    }

    .blog-author::before {
        width: 10px;
        left: -13px;
    }

}

@media only screen and (max-width: 1027px) {
    .container {
        max-width: 800px;
    }

    /* header and navigation start */
    header {
        flex-direction: column;
        align-items: center;
    }

    .header-container {
        padding-left: 0;
    }

    .nav-container {
        padding-right: 0;
    }

    .logoAndNumber {
        gap: 80px;
        width: 100%;
        justify-content: space-between;
    }

    .navigation {
        gap: 40px;
    }

    .social-container {
        gap: 40px;
    }


    /* header and navigation end */
    .card-container {
        justify-content: space-evenly;
    }

    .beauty-left-content {
        max-width: 300px;
        margin-left: 70px;
    }

    .beauty-left-content p {
        margin: 0;
    }

    .beauty-left-content a {
        min-width: 65%;
    }

    /* beauty */
    .about-left-txt h2 {
        max-width: 90%;
    }

    .about-left-card {
        padding: 4px;
    }

    .about-right {
        max-width: 50%;
    }

    /* services */
    .services-up,
    .services-down {
        gap: 15px;
    }

    .sauna::after {
        content: "..................................";
    }

    /* discount */
    .discount-card-left-up *,
    .discount-card-left-down * {
        margin-left: 0;
    }

    .discount-card {
        gap: 0;
    }

    .discount-card-right {
        padding: 12px 30px;
    }

    /* blog */
    .blog-card {
        min-width: 260px;
    }

    /* footer */
    .footer-pages-container {
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media only screen and (max-width: 925px) {

    /* header and navigation start */
    .container {
        max-width: 750px;
    }

    .social-container {
        gap: 15px;
    }

    .navigation {
        gap: 20px;
    }

    .nav-container {
        gap: 10px;
    }

    .btn {
        padding: 8px 15px;
    }

    /* header and navigation end*/
    /* about */
    .about-right {
        max-width: 45%;
    }

    .about-left {
        max-width: 45%;
    }

    .quote-icon {
        width: 40px;
    }

    /* services */
    .services-up-txt,
    .services-down-txt {
        min-width: 52%;
    }

    .services-sections-container::after {
        display: none;
    }

    .services-sections-container {
        gap: 30px;
    }

    /* benefits */
    .benefits {
        max-width: 31%;
    }

    .benefits-content {
        gap: 25px;
    }

    /* discount */
    .discount-card-left-up p,
    .discount-card-left-down p {
        padding-left: 10px;
    }

    .discount-container {
        gap: 30px;
    }

    /* blog */
    .blog-card {
        min-width: 263px;
    }

    .blog-card-txt {
        padding: 15px;
    }
}

@media only screen and (max-width: 870px) {
    .container {
        max-width: 680px;
    }

    .about-left {
        min-width: 50%;
    }

    .about-right {
        max-width: 40%;
    }

    .testimonials-down {
        padding: 20px;
    }

    /* benefits */
    .benefits {
        max-width: 40%;
    }

    /* services */
    .services-up-txt,
    .services-down-txt {
        min-width: 52%;
    }

    .masks::after {
        content: ' ......................... ';
    }

    .full-body::after {
        content: "............. ";
    }

    .geothermal::after {
        content: "..................";
    }

    .sauna::after {
        content: "........................";
    }

    .masks-p {
        line-height: 1.5;
    }

    /* discount */
    .discount-left h2 {
        min-width: 85%;
    }

    .discount-right {
        min-width: 50%;
    }

    .discount-card {
        min-width: 100%;
    }

    .discount-card-right {
        padding: 3px 30px;
    }

    .discount-right {
        min-height: 579px;
    }

    /* blog */
    .blog-card {
        min-width: 240px;
    }

    .blog-content {
        flex-wrap: wrap;
    }

    /* footer */
    .inTouch-headings {
        width: 75px;
    }

}

/* Tablet */

@media only screen and (max-width: 768px) {
    .container {
        max-width: 600px;
    }


    /* header and navigation start */

    .dropdown {
        display: flex;
        flex-direction: column;
    }

    .dropdown-span {
        color: white;
    }

    .dropdown-span svg path {
        stroke: white;
    }


    .pages-dropdown {
        padding: 10px;
        gap: 10px;
    }

    .dropdown .pages-dropdown {
        position: static;
        top: auto;
        list-style: none;
        clip-path: none;
        display: none;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .dropdown-open .pages-dropdown {
        display: flex;
        flex-direction: column;
        background-color: transparent;
    }

    .dropdown:hover .dropdown ul {
        clip-path: none;
    }

    .navigation li:hover .dropdown-span {
        color: white;
    }

    .dropdown-open .dropdown-span:hover .dropdown-open .pages-dropdown a {
        text-decoration: none;
        text-shadow: none;
    }

    .dropdown-open .pages-dropdown a:hover {
        text-decoration: underline;
    }

    .nav-container {
        margin-top: 64px;
        height: 100%;
        position: relative;
    }

    #menu {
        display: block;
        position: absolute;
        top: 30%;
        right: 5%;
        z-index: 99;
    }

    #menu-close {
        display: block;
        z-index: 100;
        top: 15px;
        right: 40px;
        position: absolute;
    }

    .header-container {
        padding-bottom: 20px;
    }

    .nav-container {
        background: rgba(122, 156, 165, 1);
        position: fixed;
        right: 0;
        top: 63px;
        flex-direction: column;
        width: 0;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s all ease-in-out;
        gap: 10px;
        z-index: 100;
        justify-content: space-evenly;
    }


    .navigation {
        align-items: flex-start;
        gap: 25px;
    }

    .navigation li a {
        color: white;
    }

    .navigation li:hover .dropdown-span svg path {
        stroke: white;
        ;
    }

    .navigation .dropdown-open .pages-dropdown a:hover {
        text-decoration: underline;
        text-shadow: 0.5px 0.5px 1px rgb(43, 54, 57);
    }

    .navigation li:hover .dropdown-open .pages-dropdown a {
        text-shadow: none;
    }

    .menu-active {
        width: 50%;
        opacity: 1;
        visibility: visible;
        padding: 10px 40px 60px 40px;
        margin-top: 57px;
        transform: translateX(0);
    }

    .menu-active .reservation:hover {
        background-color: #5D6B71;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation li {
        font-size: 1.3rem;
        margin: 0;
    }

    .navigation li:hover a {
        color: white;
    }

    .menu-social-icons path {
        fill: white;
    }

    .social-container {
        gap: 30px;
    }

    .reservation {
        background-color: #5D6B71;
        margin-bottom: 60px;
        padding: 15px 20px;
    }

    h5 {
        margin: 0;
    }

    .number-container {
        display: none;
    }

    /* header and navigation end */


    /* beauty is start */
    .card-container {
        gap: 20px;
        text-align: center;
    }

    .btn-empty {
        align-self: center;
    }

    .beauty-card {
        min-width: 90%;
    }

    .beauty-is-left,
    .beauty-is-right {
        padding: unset;
    }

    .beauty-card-txt p {
        line-height: 1.5;
    }

    .white-border::before {
        display: none;
    }

    .white-border {
        width: 100%;
        height: 100%;
    }

    .white-border img {
        left: 0;
        width: 100%;
        height: 100%;
    }


    /* beauty is end */
    /* about */
    .about-left-txt {
        text-align: center;
    }

    .about-upper-img {
        inset: 0;
    }

    .testimonials-content {
        flex-direction: column;
        align-items: center;
    }

    .testimonials-up p {
        text-align: justify;
    }

    .testimonials-1,
    .testimonials-2 {
        min-width: 90%;
    }

    /* benefits */
    .benefits {
        max-width: 46%;
    }

    /* 
services */
    .services-heading .blue {
        margin-bottom: 20px;
    }

    .services-up-img,
    .services-down-img {
        display: none;
    }

    .services-up-txt,
    .services-down-txt {
        min-width: 100%;
    }

    .masks::after {
        content: ' ............................................. ';
    }

    .full-body::after {
        content: ' .................................. ';
    }

    .geothermal::after {
        content: ' ....................................... ';
    }

    .sauna::after {
        content: ' .............................................. ';
    }

    .services-down-txt {
        border-top: 1px solid rgba(155, 183, 191, 1);
        padding-top: 40px;
    }

    /* discount */
    .discount-container {
        flex-direction: column;
    }

    .discount-left,
    .discount-right {
        min-width: 100%;
    }

    .discount-left * {
        text-align: center;
    }

    .discount-left {
        align-items: center;
    }

    .discount-left p {
        text-align: justify;
    }

    .discount-card-left-up,
    .discount-card-left-down {
        display: flex;
        align-items: center;
    }

    .discount-card-left {
        margin-left: 50px;
        gap: 10px;
    }

    .discount-card-right {
        padding: 8px 50px;
    }

    .discount-input-container svg {
        left: 15px;
    }

    input,
    textarea {
        padding-left: 45px;
    }

    /* blog */
    .blog-card {
        max-width: 270px;
    }

    /* footer */
    .footer-pages-container {
        gap: 20px;
    }

    .hours {
        margin-top: 30px;
    }
}

/* Mobile */
@media only screen and (max-width: 650px) {
    .container {
        max-width: 500px;
    }

    .card-container {
        flex-direction: column;
    }

    .btn-dark p {
        text-align: center;
    }

    .beauty-card {
        max-width: 450px;
    }

    .beauty-card * {
        text-align: center;
    }

    .btn-empty {
        align-self: center;
    }

    .beauty-left-content a {
        min-width: 70%;
    }

    /* about */
    .about-left {
        min-width: 100%;
    }

    .about-left-txt {
        margin-bottom: 40px;
    }

    .about-right {
        display: none;
    }

    /* discount */
    .discount-card-left {
        margin-left: 0;
    }

    .discount-card-right {
        padding: 5px 10px;
    }

    .discount-card-left p {
        padding-left: 0;
    }

    .discount-right {
        min-height: auto;
    }

    /* blog */
    .blog-card {
        min-width: 100%;
    }

    .blog-title {
        gap: 20px;
    }

    .blog-card-txt p.gray {
        text-align: center;
    }

    .blog-author::before {
        left: -14px;

    }

    .blog-txt-heading {
        text-align: center;
    }

    /* footer */
    .inTouch {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 565px) {

    /* header and navigation start */
    .container {
        max-width: 400px;
    }

    .logoAndNumber {
        flex-direction: column;
        gap: 0;
    }

    .header-container {
        flex-direction: column;
    }

    nav li {
        font-size: 1.5rem;
    }

    .nav-container {
        top: 15%;
    }

    #menu {
        top: 50%;
    }

    .menu-active {
        width: 100%;
        height: 90%;
        opacity: 1;
        visibility: visible;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: 0.8s all ease-in-out;
    }


    .btn-dark {
        max-width: 100%;
    }

    .body-scroll-hidden {
        overflow: hidden;
    }

    /* header and navigation end */
    /* beauty is start */
    .beauty-is-container {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding-top: 100px;
    }

    .beauty-is-left,
    .beauty-is-right {
        width: 100%;
        padding: 0;
        background-color: transparent;
    }

    .beauty-left-content {
        max-width: 70%;
        align-items: center;
    }

    .beauty-left-content p,
    h1,
    h5 {
        text-align: center;
        margin-bottom: 2px;
    }

    .white-border::before {
        display: none;
    }

    .white-border img {
        left: 0;
    }

    .beauty-is-right {
        justify-content: center;
    }

    .beauty-left-content h5 img {
        width: 15px;
        height: 15px;
        position: absolute;
        left: -20px;
    }

    .beauty-left-content h5 {
        position: relative;
    }

    .beauty-card {
        max-width: 80%;
    }

    .btn-empty {
        min-width: 80%;
    }

    /* beauty is end */

    /* services */

    .masks::after {
        content: ' ................................... ';
    }

    .full-body::after {
        content: ' ........................ ';
    }

    .geothermal::after {
        content: ' ............................. ';
    }

    .sauna::after {
        content: ' .................................... ';
    }

    .first-line p {
        text-align: left;
    }

    /* benefits */
    .benefits {
        max-width: 90%;
        align-items: center;
    }

    .benefits-content {
        justify-content: center;
    }

    .benefits h3,
    .benefits p {
        text-align: center;
    }

    /* footer */
    .footer-container {
        flex-direction: column;
        padding-bottom: 30px;
    }
}




@media only screen and (max-width: 470px) {
    .container {
        max-width: 320px;
    }

    #menu {
        top: 70%;
    }

    .quote-icon {
        width: 20px;
    }

    .testimonials-down-left {
        gap: 6px;
    }

    /* services */
    .masks::after {
        content: ' .................... ';
    }

    .full-body::after {
        content: ' ......... ';
    }

    .geothermal::after {
        content: ' ............ ';
    }

    .sauna::after {
        content: ' ................... ';
    }

    /* discount */
    .discount-card-left-up,
    .discount-card-left-down {
        display: block;
    }

    .discount-left * {
        text-align: unset;
    }

    .discount-card-left {
        gap: 0;
    }

    .discount-card-right {
        padding: 12px 22px;
    }

    .discount-right {
        padding: 40px;
    }
}

@media only screen and (max-width: 370px) {
    .container {
        max-width: 250px;
    }

    #menu {
        top: 60%;
    }

    /* beauty start */
    .beauty-card {
        min-width: 100%;
    }

    .beauty-left-content {
        max-width: 100%;
    }

    .beauty-is-right {
        background-color: transparent;
    }

    .beauty-left-content h5 img {
        left: -2px;
    }

    .beauty-left-content h5 img {
        left: -20px;
    }

    /* about */
    .about-left-card-container {
        flex-direction: column;
        align-items: center;
    }

    .about-left-card {
        width: 100%;
        padding-top: 10px;
    }

    /* services */
    .first-up {
        flex-direction: column;
    }

    .first-up h3 {
        margin-bottom: 0;
    }

    .first-up p.gray {
        margin-left: 50%;
    }

    .masks::after {
        content: ' : ';
    }

    .full-body::after {
        content: ' : ';
    }

    .geothermal::after {
        content: ' : ';
    }

    .sauna::after {
        content: ' : ';
    }

    /* testimonials */
    .testimonials-down {
        justify-content: center;
    }

    .testimonials-down-left {
        flex-direction: column;
    }

    .testimonials-quote {
        text-align: center;
    }

    .testimonials-1,
    .testimonials-2 {
        min-width: 100%;
    }

    .stars {
        justify-content: center;
    }

    .quote-icon {
        display: none;
    }

    /* beauty end */

    /* discount */
    .discount-left h2 {
        width: 100%;
    }

    .discount-card-left p,
    .discount-card-right h4 {
        font-size: small;
    }

    .discount-card-right {
        padding: 20px 14px;
    }

    .number-50 {
        font-size: 40px;
    }

    /* blog */
    .blog-author::before {
        top: 16px;
    }

    /* footer */
    .footer-pages-container {
        flex-direction: column;
        align-items: center;
    }

    .inTouch-details {
        width: 170px;
    }
}